# Backups (Concilia)
concilia_core-*.py
concilia-core-*.py
*bkp*.py
*backup*.py
* - Copy.py
* - Cópia.py



# Pastas locais
backups/
logs/
db/
*.db
*.sqlite
*.sqlite3
*.ofx
*.pdf
*.csv
*.xlsx

__pycache__/
*.pyc
